option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:app

  aws:elasticbeanstalk:application:environment:
    FLASK_APP: application.py  # Replace with your Flask app entry point
    FLASK_ENV: production

  aws:ec2:instances:
    InstanceType: t2.micro   # Make sure it's free-tier eligible
    RootVolumeSize: 18 


